.book-page{
  display: flex;
  padding: 50px;
  justify-content: space-between;
  gap: 32px;
}

.book-page__right{
  margin-top: 0;
  border: 1px black solid;
}

.book-cover {
  width: 300px;
  height: 450px;
  object-fit: cover;
}

.book-page__title{
  margin: 0;
}

.book-page__author{
  margin: 0;
}