.btn{
    width: 100%;
    text-decoration: none;
}

.btn.btn--primary{
    background-color: #2346B1;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 8px;
}

.btn.btn--secondary{
    background-color: #D4E5FB;
    color: #2F5BCF;
    padding: 12px;
    border: none;
    border-radius: 8px;
}

