.btn{
    width: 100%;
}

.btn.btn--primary{
    background-color: #2346B1;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 8px;
}

.btn.btn--secondary{
    background-color: #5C87E0;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 8px;
}

