.dropdown__container__open{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    width: 152px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.dropdown__button.close{
    width: 121px;
    height: 40px;
    border: none;
    border-radius: 8px;
    padding: 0;
    color: #ffffff;
    background-color: #2346B1;
}

.dropdown__button.open{
    width: 121px;
    height: 40px;
    border: none;
    padding: 0;
    color: #59606A;
    background-color: #ffffff;
}