$button-height: 40px;
$border-radius: 8px;
$shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

$primary-bg: #2346B1;
$primary-color: #ffffff;
$text-color: #59606A;


.dropdown {

  &__container {
    width: 100%;
  }


  &__container-open {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    border-radius: $border-radius;
    background-color: $primary-color;
    box-shadow: $shadow;

    overflow: hidden;
  }


  &__button {
    width: 100%;
    height: $button-height;

    border: none;
    border-radius: $border-radius;

    padding: 0;

    cursor: pointer;

    background-color: $primary-bg;
    color: $primary-color;


    &:hover {
      opacity: 0.9;
    }


    &-option {
      background-color: $primary-color;
      color: $text-color;

      border-radius: 0;
    }
  }
}