.header__container{
    display: flex;
    align-items: center;
    padding: 0 56px;
    margin-bottom: 20px;
}

.logo{
    display: flex;
    align-items: center; 
}

.header__search{
    margin: 8px auto;
    margin-left: 800px;
    padding: 8px;
    display: flex;
    align-items: center;
    width: 510px;
    border: 1px #C0C8D1 solid;
    border-radius: 16px;
}

.search__input{
    font-style: #C0C8D1;
    margin-left: 8px;
    margin-right: 16px;
    flex:1;
    border: none;
}

.avatar{
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.header__profile{
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.header__auth{
    display: flex;
    margin-left: 25px;
    gap: 12px;
}