.register{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.register-page{
    width: 420px;
    padding: 32px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    gap: 16px;
    border-radius: 20px;
}

.register-page__title{
    margin: 0;
}

.register-page__subtitle{
    margin: 0;
}

.register-page__signup{
    display: flex;
    align-items: center;
    gap: 8px;
}